.video {

  .info {
    padding: 5px 5px 5px 15px;
    .title {
      padding-bottom: 10px;
    }

    .youtube-vid {
      margin: 0px 0px 10px 0px;
      iframe {
        width:100%;
      }
    }

    textarea {
      margin-left: 1px;
      width: 100%;
    }
  }

  .comment {
    padding: 5px 5px 5px 15px;

    p {
      padding-top: 0px;
      line-height: 1.2em;
      padding-bottom: 10px;
    }
  }
}