.video {

  .info {
    padding: 5px 15px 5px 15px;
    .title {
      padding-bottom: 10px;
    }

    .youtube-vid {
      margin: 0px 0px 10px 0px;
      iframe {
        width:100%;
      }
    }

    textarea {
      margin-left: 1px;
      width: 100%;
    }
  }

  .comment {
    padding: 5px 5px 5px 15px;
    border-left: 1px solid rgb(240, 240, 240);
    
    .title {
      .author {
        font-weight: bold;
      }

      .meta {
        color: #888;
        font-style: italic;
        font-size: 0.9em;
      }
    }

    .body {
      p {
        padding-top: 0px;
        line-height: 1.2em;
        padding-bottom: 10px;
      }
    }
  }
}