.control-pannel {
  overflow: auto;

  .name {
    display: inline-block;
  }

  .button-container {
    float:left;
    padding: 0px 0px 0px 20px;
    button {
      padding: 5px 10px 5px 10px;
      margin: 10px;
    }
  }
}

.video-list-item {
  width: 100%;
  padding: 10px 0px 10px 0px;

  &:nth-child(even) {
      background-color: rgb(231, 231, 231);
  }

  .text-container {
    display:inline-block;
    width: 89%;
    min-width: 25px;

    .top {
      font-weight: bold;
    }

    .bottom {
      font-size: 0.9em;
    }
  }

  .arrow-container {
    display:block;
    float:left;
    width: 10%;

  }

  .arrow {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 4px;
  }

  .arrow.up {
    background: url("../images/up-arrow.svg") no-repeat top left;
    background-size: 20px 20px;
    &.selected {
      background-color: orange;
    }
  }

  .arrow.down {
    background: url("../images/down-arrow.svg") no-repeat top left;
    background-size: 20px 20px;
    &.selected {
      background-color: orange;
    }
  }
}