<div class="about">
	<h2>About</h2>
	<div class="text">
		<p>
		Redditvid is a lighweight Reddit client that regurgitates <a href="www.reddit.com/r/videos">www.reddit.com/r/videos</a> into a responsive web app. It's made using Ember.js CLI and hosted on Node.js. 
		I created it to better understand Ember, Ouath and SVG transitions. <br>
		Currently it's possible to:			
		<ul>
			<li>List the top 25 trending vidoes</li>
			<li>Login to reddit using oauth</li>
			<li>Upvote or downvote a video</li>
			<li>View any of these videos, and view top level comments</li>
			<li>Leave a comment</li>
		</ul>
		</p>
	</div>
</div>