<div>
	{{#each}}
		<div class="video">
			<div class="top">
				<span class="score">{{score}}</span><span class="vid_link">{{#linkTo 'video' this}} {{title}} {{/linkTo}}</span>
			</div>
			<div class="bottom">
				<span class="author">Posted by <i>{{author}} at</i></span>
			</div>
		</div>
	{{/each}}
</div>