<div class="login">
	<button {{action "login"}}>login</button>
	<div>
	{{#if isLoggedIn}}
		<span><b>Your Name:</b> {{name}} </span><span><b>Over 18:</b> {{over_18}} </span>
	{{else}}
		<span>you are <b>not</b> logged in, please select login.</span>
	{{/if}}
	</div>
</div>